<!doctype html>
<!-- Demonstration webpage for a mock IRMA election.
     This depends on the presence of bundle.js (see register.js for more on this). -->
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
      <meta content="utf-8" http-equiv="encoding">
      <title>Voting card retrieval</title>

      <link rel="stylesheet" type="text/css" href="/assets/style.css">

      <script src="/assets/bundle_retrieve.js" type="text/javascript" defer></script>
    </head>

    <body>
      <div class="fixedHeaderContainer">
        <div class="headerWrapper wrapper">
            <header><a href=""><img class="logo" src="/assets/irma_logo.png" alt="IRMA"><h2 class="headerTitleWithLogo">IRMA election</h2></a>
                <div class="navigationWrapper navigationSlider">
                    <nav class="slidingNav">
                        <ul class="nav-site nav-site-internal">
                            <li class="siteNavGroupActive">
                                <a href="">Voting card retrieval</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
      </div>
      <div class="navPusher">
          <div class="docMainWrapper" wrapper>
            <div class="container mainContainer">
                <div class="wrapper">
                    <div class="post">
                        <header class="postHeader">
                            <h1 class="postHeaderTitle">The final step</h1>
                        </header>
                        <article>
                            <p>Your identity has been confirmed, and you are able to participate in the upcoming election! To retreive your anonymous voting card, please scan the QR code below.</p>
                        </article>
                    </div>
                    <div style="height: 30px;"></div>
                    <div class="irma-web-center-child column">
                        <section class="irma-web-form" id="irma-web-form"></section>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </body>
  </body>

</html>
